name: CI
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *' # Daily “At 00:00”
  workflow_dispatch:

jobs:
  test:
    name: Python (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}

    strategy:
      fail-fast: false
      matrix:
        os: [ "ubuntu-latest", "macos-latest", "macos-14", "windows-latest"]
        python-version: [ "3.9", "3.11", "3.12" ]
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}
      - name: checkout
        uses: actions/checkout@v3
        with:
          token: ${{ github.token }}
      - name: conda_setup
        uses: conda-incubator/setup-miniconda@v2
        if: matrix.os != 'macos-14'
        with:
          activate-environment: geocat_viz_build
          channel-priority: strict
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          environment-file: build_envs/environment.yml
      - name: conda_setup_m1
        uses: conda-incubator/setup-miniconda@v2
        if: matrix.os == 'macos-14'
        with:
          installer-url: https://github.com/conda-forge/miniforge/releases/download/23.11.0-0/Mambaforge-23.11.0-0-MacOSX-arm64.sh
          activate-environment: geocat_viz_build
          channel-priority: strict
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          environment-file: build_envs/environment.yml
      - name: Install geocat-viz
        run: |
          python -m pip install . --no-deps

      - name: conda list
        run: |
          conda list

  link-check:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          token: ${{ github.token }}
      - name: conda_setup
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: gv-docs
          channel-priority: strict
          python-version: 3.9
          channels: conda-forge
          environment-file: build_envs/docs.yml
      - name: Install geocat-viz
        run: |
          python -m pip install .
      - name: check conda list
        run: |
          conda list
      - name: Make docs with linkcheck
        run: |
          cd docs
          make linkcheck
